@import "tailwindcss";

.scroll-transparent {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scroll-transparent::-webkit-scrollbar {
  width: 8px;
}

.scroll-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-transparent::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* ou transparent */
  border-radius: 6px;
}